*{
  box-sizing: border-box;
  /* this helps to account the size of every border */
}

html{
  font-size: 10px;
  font-family: 'Lobster', cursive;
}

body{
  text-align: center;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
